:root {
  --mark-bg-color: rgba(255, 208, 0, 0.4);
  --a-color: #1a73e8;
  --blockquote-border-left-color: rgb(200, 200, 200);
  --list-color: rgb(175, 175, 175);
  --hr-color: rgb(200, 200, 200);
  --code-bg-color: rgb(245, 245, 245);
}
