@charset "UTF-8";
:root {
  --mark-bg-color: rgba(255, 208, 0, 0.4);
  --a-color: #1a73e8;
  --blockquote-border-left-color: rgb(200, 200, 200);
  --list-color: rgb(175, 175, 175);
  --hr-color: rgb(200, 200, 200);
  --code-bg-color: rgb(245, 245, 245);
}

.post--p, .post--container:not(.post--disable) p:not(.post--disable, .post--disable *) {
  --fw: 400;
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  font-weight: var(--fw);
}
.post--p strong, .post--container:not(.post--disable) p:not(.post--disable, .post--disable *) strong {
  font-weight: calc(var(--fw) + 200);
}
.post--p mark, .post--container:not(.post--disable) p:not(.post--disable, .post--disable *) mark {
  background-color: var(--mark-bg-color);
}
.post--h1, .post--container:not(.post--disable) h1:not(.post--disable, .post--disable *) {
  --fw: 700;
  font-size: 1.625em;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.2;
  font-weight: var(--fw);
}
.post--h1 strong, .post--container:not(.post--disable) h1:not(.post--disable, .post--disable *) strong {
  font-weight: calc(var(--fw) + 200);
}
.post--h1 mark, .post--container:not(.post--disable) h1:not(.post--disable, .post--disable *) mark {
  background-color: var(--mark-bg-color);
}
.post--h2, .post--container:not(.post--disable) h2:not(.post--disable, .post--disable *) {
  --fw: 680;
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.2;
  font-weight: var(--fw);
}
.post--h2 strong, .post--container:not(.post--disable) h2:not(.post--disable, .post--disable *) strong {
  font-weight: calc(var(--fw) + 200);
}
.post--h2 mark, .post--container:not(.post--disable) h2:not(.post--disable, .post--disable *) mark {
  background-color: var(--mark-bg-color);
}
.post--h3, .post--container:not(.post--disable) h3:not(.post--disable, .post--disable *) {
  --fw: 660;
  font-size: 1.375em;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.3;
  font-weight: var(--fw);
}
.post--h3 strong, .post--container:not(.post--disable) h3:not(.post--disable, .post--disable *) strong {
  font-weight: calc(var(--fw) + 200);
}
.post--h3 mark, .post--container:not(.post--disable) h3:not(.post--disable, .post--disable *) mark {
  background-color: var(--mark-bg-color);
}
.post--h4, .post--container:not(.post--disable) h4:not(.post--disable, .post--disable *) {
  --fw: 640;
  font-size: 1.25em;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.4;
  font-weight: var(--fw);
}
.post--h4 strong, .post--container:not(.post--disable) h4:not(.post--disable, .post--disable *) strong {
  font-weight: calc(var(--fw) + 200);
}
.post--h4 mark, .post--container:not(.post--disable) h4:not(.post--disable, .post--disable *) mark {
  background-color: var(--mark-bg-color);
}
.post--h5, .post--container:not(.post--disable) h5:not(.post--disable, .post--disable *) {
  --fw: 620;
  font-size: 1.125em;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.5;
  font-weight: var(--fw);
}
.post--h5 strong, .post--container:not(.post--disable) h5:not(.post--disable, .post--disable *) strong {
  font-weight: calc(var(--fw) + 200);
}
.post--h5 mark, .post--container:not(.post--disable) h5:not(.post--disable, .post--disable *) mark {
  background-color: var(--mark-bg-color);
}
.post--h6, .post--container:not(.post--disable) h6:not(.post--disable, .post--disable *) {
  --fw: 600;
  font-size: 1em;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.5;
  font-weight: var(--fw);
}
.post--h6 strong, .post--container:not(.post--disable) h6:not(.post--disable, .post--disable *) strong {
  font-weight: calc(var(--fw) + 200);
}
.post--h6 mark, .post--container:not(.post--disable) h6:not(.post--disable, .post--disable *) mark {
  background-color: var(--mark-bg-color);
}
.post--a, .post--container:not(.post--disable) a:not(.post--disable, .post--disable *) {
  color: var(--a-color);
}
.post--a:hover, .post--container:not(.post--disable) a:hover:not(.post--disable, .post--disable *) {
  color: hsl(from var(--a-color) h s calc(l * 1.25));
}
.post--blockquote, .post--container:not(.post--disable) blockquote:not(.post--disable, .post--disable *) {
  margin: 0;
  padding-left: 24px;
  border-left: 3px solid var(--blockquote-border-left-color);
}
.post--ul, .post--container:not(.post--disable) ul:not(.post--disable, .post--disable *) {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 26px;
}
.post--ul > li::marker, .post--container:not(.post--disable) ul:not(.post--disable, .post--disable *) > li::marker {
  content: "•   ";
  color: var(--list-color);
}
.post--ol, .post--container:not(.post--disable) ol:not(.post--disable, .post--disable *) {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 26px;
}
.post--ol > li::marker, .post--container:not(.post--disable) ol:not(.post--disable, .post--disable *) > li::marker {
  color: var(--list-color);
}
.post--li, .post--container:not(.post--disable) li:not(.post--disable, .post--disable *) {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}
.post--li ul, .post--container:not(.post--disable) li:not(.post--disable, .post--disable *) ul,
.post--li ol,
.post--container:not(.post--disable) li:not(.post--disable, .post--disable *) ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 36px;
  position: relative;
}
.post--li ul::before, .post--container:not(.post--disable) li:not(.post--disable, .post--disable *) ul::before,
.post--li ol::before,
.post--container:not(.post--disable) li:not(.post--disable, .post--disable *) ol::before {
  position: absolute;
  content: "";
  left: -0.865em;
  background-color: var(--list-color);
  width: 0.5px;
  height: 100%;
}
.post--hr, .post--container:not(.post--disable) hr:not(.post--disable, .post--disable *) {
  border: none;
  border-top: 2px solid var(--hr-color);
  margin-top: 32px;
  margin-bottom: 32px;
}
.post--code, .post--container:not(.post--disable) code:not(.post--disable, .post--disable *) {
  font-family: "Cascadia Mono", monospace;
  font-size: 0.875em;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.15em 0.3em;
  background-color: var(--code-bg-color);
}
.post--pre, .post--container:not(.post--disable) pre:not(.post--disable, .post--disable *) {
  padding: 12px 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  background-color: var(--code-bg-color);
  white-space: pre-wrap;
  overflow-x: auto;
}
.post--pre code, .post--container:not(.post--disable) pre:not(.post--disable, .post--disable *) code {
  border-radius: 0;
  padding: 0;
  background-color: transparent;
}/*# sourceMappingURL=post.css.map */