@charset "UTF-8";
:root {
  --mark-bg-color: rgba(255, 208, 0, 0.4);
  --a-color: #1a73e8;
  --blockquote-border-left-color: rgb(200, 200, 200);
  --list-color: rgb(175, 175, 175);
  --hr-color: rgb(200, 200, 200);
  --code-bg-color: rgb(245, 245, 245);
}

.post--container:not(.post--disable) p:not(.post--disable, .post--disable *), .post--p:not(.post--disable, .post--disable *) {
  --fw: 400;
  font-size: 1em;
  font-weight: var(--fw);
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post--container:not(.post--disable) h1:not(.post--disable, .post--disable *), .post--h1:not(.post--disable, .post--disable *) {
  --fw: 700;
  font-size: 1.625em;
  font-weight: var(--fw);
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.post--container:not(.post--disable) h2:not(.post--disable, .post--disable *), .post--h2:not(.post--disable, .post--disable *) {
  --fw: 680;
  font-size: 1.5em;
  font-weight: var(--fw);
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.post--container:not(.post--disable) h3:not(.post--disable, .post--disable *), .post--h3:not(.post--disable, .post--disable *) {
  --fw: 660;
  font-size: 1.375em;
  font-weight: var(--fw);
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.post--container:not(.post--disable) h4:not(.post--disable, .post--disable *), .post--h4:not(.post--disable, .post--disable *) {
  --fw: 640;
  font-size: 1.25em;
  font-weight: var(--fw);
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.post--container:not(.post--disable) h5:not(.post--disable, .post--disable *), .post--h5:not(.post--disable, .post--disable *) {
  --fw: 620;
  font-size: 1.125em;
  font-weight: var(--fw);
  line-height: 1.5;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.post--container:not(.post--disable) h6:not(.post--disable, .post--disable *), .post--h6:not(.post--disable, .post--disable *) {
  --fw: 600;
  font-size: 1em;
  font-weight: var(--fw);
  line-height: 1.5;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.post--container:not(.post--disable) strong:not(.post--disable, .post--disable *), .post--strong:not(.post--disable, .post--disable *) {
  font-weight: calc(var(--fw) + 200);
}

.post--container:not(.post--disable) mark:not(.post--disable, .post--disable *), .post--mark:not(.post--disable, .post--disable *) {
  background-color: var(--mark-bg-color);
}

.post--container:not(.post--disable) a:not(.post--disable, .post--disable *), .post--a:not(.post--disable, .post--disable *) {
  color: var(--a-color);
}
.post--container:not(.post--disable) a:hover:not(.post--disable, .post--disable *), .post--a:hover:not(.post--disable, .post--disable *) {
  color: hsl(from var(--a-color) h s calc(l * 1.25));
}

.post--container:not(.post--disable) blockquote:not(.post--disable, .post--disable *), .post--blockquote:not(.post--disable, .post--disable *) {
  margin: 1rem 0;
  padding-left: 1.5rem;
  border-left: 3px solid var(--blockquote-border-left-color);
}

.post--container:not(.post--disable) ul:not(.post--disable, .post--disable *), .post--ul:not(.post--disable, .post--disable *) {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.625em;
}
.post--container:not(.post--disable) ul:not(.post--disable, .post--disable *) > li:not(.post--disable, .post--disable *)::marker, .post--ul:not(.post--disable, .post--disable *) > li:not(.post--disable, .post--disable *)::marker {
  content: "•   ";
  color: var(--list-color);
}

.post--container:not(.post--disable) ol:not(.post--disable, .post--disable *), .post--ol:not(.post--disable, .post--disable *) {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.625em;
}
.post--container:not(.post--disable) ol:not(.post--disable, .post--disable *) > li:not(.post--disable, .post--disable *)::marker, .post--ol:not(.post--disable, .post--disable *) > li:not(.post--disable, .post--disable *)::marker {
  color: var(--list-color);
}

.post--container:not(.post--disable) li:not(.post--disable, .post--disable *), .post--li:not(.post--disable, .post--disable *) {
  padding-top: 0.075rem;
  padding-bottom: 0.075rem;
}
.post--container:not(.post--disable) li:not(.post--disable, .post--disable *) ul:not(.post--disable, .post--disable *), .post--li:not(.post--disable, .post--disable *) ul:not(.post--disable, .post--disable *),
.post--container:not(.post--disable) li:not(.post--disable, .post--disable *) ol:not(.post--disable, .post--disable *),
.post--li:not(.post--disable, .post--disable *) ol:not(.post--disable, .post--disable *) {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2.25em;
  position: relative;
}
.post--container:not(.post--disable) li:not(.post--disable, .post--disable *) ul:not(.post--disable, .post--disable *)::before, .post--li:not(.post--disable, .post--disable *) ul:not(.post--disable, .post--disable *)::before,
.post--container:not(.post--disable) li:not(.post--disable, .post--disable *) ol:not(.post--disable, .post--disable *)::before,
.post--li:not(.post--disable, .post--disable *) ol:not(.post--disable, .post--disable *)::before {
  position: absolute;
  content: "";
  left: -0.865em;
  background-color: var(--list-color);
  width: 0.025em;
  height: 100%;
}

.post--container:not(.post--disable) hr:not(.post--disable, .post--disable *), .post--hr:not(.post--disable, .post--disable *) {
  border: none;
  border-top: 2px solid var(--hr-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post--container:not(.post--disable) code:not(.post--disable, .post--disable *), .post--code:not(.post--disable, .post--disable *) {
  font-family: "Cascadia Mono", monospace;
  font-size: 0.875em;
  box-sizing: border-box;
  border-radius: 0.25em;
  padding: 0.15em 0.3em;
  background-color: var(--code-bg-color);
}

.post--container:not(.post--disable) pre:not(.post--disable, .post--disable *), .post--pre:not(.post--disable, .post--disable *) {
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  background-color: var(--code-bg-color);
  white-space: pre-wrap;
  overflow-x: auto;
}
.post--container:not(.post--disable) pre:not(.post--disable, .post--disable *) code, .post--pre:not(.post--disable, .post--disable *) code {
  border-radius: 0;
  padding: 0;
  background-color: transparent;
}/*# sourceMappingURL=post.css.map */